	<div class="row">
		<div class="col-xs-4 col-md-offset-4">
			<div class="form-group">
		    	<input ng-model="search" type="text" value="" placeholder="search here" class="form-control" />
			</div>
		</div>
	</div>

	<div class="row">
		
			<div ng-repeat ="book in books | filter : search">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card card-1">						
							<img ng-src="{{book.img}}" alt="" style="margin: 0 auto; width: 100%;"/>					
														
							<div ng-show="moreContent" class="more-content">
								<hr>
								<h2> {{ book.title }} </h2>
								<hr>
								<p><strong>Author: </strong>{{ book.author }}</p>
								<p><strong>ISBN: </strong>{{ book.isbn }}</p>
								<p><strong>Release date: </strong>{{ book.releaseDate }}</p>
								<p><strong>Publisher: </strong>{{ book.publisher }}</p>
								<p><strong>Date added: </strong>{{ book.dateAdded }}</p>
								<hr>
							</div>
							<div class="text-center">
								<div ng-click="moreContent = ! moreContent" class="btn btn-success">Book Info</div>
							</div>						
					</div>
				</div>
			</div>

	</div>

	<br>

	<div class="row"><div class="col-xs-12">Built with Angular.js</div></div>

	<br>

